Pollutant Mean
============

Today I am completing my first programming assignment from John Hopkin's R Programming course offered on coursera! The goal of the programming assignment is to practice creating functions that perform specific queries, such as a mean from a large set of data files.

As this is an introductory course to R Programming, we won't be using any packages beyond R's basic functions.

Before we begin, let's take a look at the Air Pollution dataset that's been provided. Luckily, a description of the dataset has already been provided:
> The zip file contains 332 comma-separated-value (CSV) files containing pollution monitoring data for fine particulate matter (PM) air pollution at 332 locations in the United States. Each file contains data from a single monitor and the ID number for each monitor is contained in the file name. For example, data for monitor 200 is contained in the file "200.csv". Each file contains three variables:
> 1. Date: the date of the observation in YYYY-MM-DD format (year-month-day)
> 2. sulfate: the level of sulfate PM in the air on that date (measured in micrograms per cubic meter)
> 3. nitrate: the level of nitrate PM in the air on that date (measured in micrograms per cubic meter)

Let's check to see if we have the 332 files stated.

In [15]:
setwd('D:/Users/Ziqiu/OneDrive/Documents/University Docs/Coursera/specdata')
length(list.files())
head(list.files(),10)
tail(list.files(),10)

[1] 332

 [1] "001.csv" "002.csv" "003.csv" "004.csv" "005.csv" "006.csv" "007.csv"
 [8] "008.csv" "009.csv" "010.csv"

 [1] "323.csv" "324.csv" "325.csv" "326.csv" "327.csv" "328.csv" "329.csv"
 [8] "330.csv" "331.csv" "332.csv"

Sweet, let's look at one of the files to see what's inside.

In [23]:
samplecsv <- read.csv('015.csv', sep=',', header= TRUE)
head(samplecsv,10)
tail(samplecsv,10)
summary(samplecsv)
str(samplecsv)

   Date       sulfate nitrate ID
1  2005-01-01 NA      NA      15
2  2005-01-02 NA      NA      15
3  2005-01-03 NA      NA      15
4  2005-01-04 NA      NA      15
5  2005-01-05 NA      NA      15
6  2005-01-06 NA      NA      15
7  2005-01-07 NA      NA      15
8  2005-01-08 NA      NA      15
9  2005-01-09 NA      NA      15
10 2005-01-10 NA      NA      15

    Date       sulfate nitrate ID
721 2006-12-22   NA      NA    15
722 2006-12-23   NA      NA    15
723 2006-12-24   NA      NA    15
724 2006-12-25 0.36    3.24    15
725 2006-12-26   NA      NA    15
726 2006-12-27   NA      NA    15
727 2006-12-28   NA      NA    15
728 2006-12-29   NA      NA    15
729 2006-12-30   NA      NA    15
730 2006-12-31 1.15    6.41    15

         Date        sulfate         nitrate             ID
 2005-01-01:  1   Min.   :0.234   Min.   :0.0915   Min.   :15
 2005-01-02:  1   1st Qu.:0.708   1st Qu.:0.2870   1st Qu.:15
 2005-01-03:  1   Median :1.020   Median :0.4110   Median :15
 2005-01-04:  1   Mean   :1.099   Mean   :0.7013   Mean   :15
 2005-01-05:  1   3rd Qu.:1.385   3rd Qu.:0.6990   3rd Qu.:15
 2005-01-06:  1   Max.   :2.940   Max.   :6.4100   Max.   :15
 (Other)   :724   NA's   :647     NA's   :645

'data.frame':	730 obs. of  4 variables:
 $ Date   : Factor w/ 730 levels "2005-01-01","2005-01-02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ sulfate: num  NA NA NA NA NA NA NA NA NA NA ...
 $ nitrate: num  NA NA NA NA NA NA NA NA NA NA ...
 $ ID     : int  15 15 15 15 15 15 15 15 15 15 ...

Assuming (not really an assumption because I checked) that all the files are like this then there a lot of NA values that we can't account for.

Let's look at the task assigned.
> Part 1
Write a function named 'pollutantmean' that calculates the mean of a pollutant (sulfate or nitrate) across a specified list of monitors. The function 'pollutantmean' takes three arguments: 'directory', 'pollutant', and 'id'. Given a vector monitor ID numbers, 'pollutantmean' reads that monitors' particulate matter data from the directory specified in the 'directory' argument and returns the mean of the pollutant across all of the monitors, ignoring any missing values coded as NA.

In [25]:
## Let's see how we want to approach this
pollutantmean <- function(directory, pollutant, id = 1:332){
    # Start by calling the directory which is important if we want to source this function
    # setwd(directory) this will be needed only when we want to source the function. Not required
    # for our purposes
    # Makes a vector list of file names that we can call
    file_names <- list.files()
    # Make a NULL vector so that we can append values of pollutants
    want_mean <- NULL
    for (i in id) {
        file <- read.csv(file_names[i])
        # Now we'd want to store the values of the pollutants. Unfortunately we can't use
        # completecases since the row-wise observations are not always filled out.
        # Instead we filter by the values of the variables that aren't NA
        want_mean <- c(want_mean, file[pollutant][!is.na(file[pollutant])]) 
    }
    return(mean(want_mean))
}

As a good test, we can check if our funcion matches the summary() result earlier.

In [28]:
pollutantmean('specdata', 'sulfate',15)

[1] 1.098687

Success! We'd probably want to see more than just one test, but to safe some time let's just believe that my outputs match the outputs provided in the assignment. So what's next?

> Part 2
Write a function that reads a directory full of files and reports the number of completely observed cases in each data file. The function should return a data frame where the first column is the name of the file and the second column is the number of complete cases. A prototype of this function follows

In [29]:
complete <- function(directory, id = 1:332) {
    #setwd(directory) 
    # Again we won't be sourcing our function for our purposes
    file_names <- list.files()
    first_file <- read.csv(file_names[c(id)[1]])
    # In order to create a dataframe with variables ID and nobs, I used the first
    # file in the id list.
    monitor <- data.frame(id = c(id)[1], nobs = nrow(first_file[complete.cases(first_file),]))
    for (i in c(id)[-1]) {
        # Now we can complete the data frame by appending the rest of the files in the id 
        # vector.
        file <- read.csv(file_names[i])
        monitor <- rbind(monitor, c(id = i, nobs = nrow(file[complete.cases(file),]))) 
    }
    return(monitor)
}

In [35]:
# Let's test it and compare it to complete cases of 3
complete(, id = 1:5)
nrow(read.csv(list.files()[3])[complete.cases(read.csv(list.files()[3])),])

  id nobs
1 1   117
2 2  1041
3 3   243
4 4   474
5 5   402

[1] 243

Nice!

>Part 3
Write a function that takes a directory of data files and a threshold for complete cases and calculates the correlation between sulfate and nitrate for monitor locations where the number of completely observed cases (on all variables) is greater than the threshold. The function should return a vector of correlations for the monitors that meet the threshold requirement. If no monitors meet the threshold requirement, then the function should return a numeric vector of length 0.

In [36]:
# Since we want the completed cases that meets a threshold, let's save the completed cases
# output of all the files first and we will filter it in the function
completed = complete('specdata')
corr <- function(directory, threshold = 0) {
    setwd(directory)
    file_names <- list.files()
    # Filter by the completed files by the number of observations that passes the threshold
    filtered <- completed[which(completed$nobs >= threshold),]
    cor_vector <- NULL
    # Now we have the IDs of the files that passes the threshold, we can simply find the
    # correlation on each.
    for (i in c(filtered$id)){
        file <- read.csv(file_names[i])
        com <- file[complete.cases(file),]
        cor_vector <- c(cor_vector, cor(com$sulfate, com$nitrate))
    }
    return(cor_vector)
}